.menu-create-first-container {
  width: 240px;
  display: flex;
  flex-direction: column;
  position:absolute;
  top: 60px;
  right: 144px;
  padding: 16px 0;
  background-color: white;
  border-width: 1px;
  border-radius: 8px;
  border-color: black;
}

.menu-create-box-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu-create-box {
  display: flex;
  gap: 12px;
  padding: 0 12px;
  color: black;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
