.input {
  width: 100%;
  display: block;
  border-radius: 0.375rem/* 6px */;
  padding-left: 1.5rem/* 24px */;
  padding-right: 1.5rem/* 24px */;
  padding-top: 1.5rem/* 24px */;
  padding-bottom: 0.25rem/* 4px */;
  color: rgb(255 255 255);
  background-color: rgb(64 64 64);

}

.label {
  position: absolute;
  color: rgb(161 161 170);
  transition-duration: 150ms;
  top: 1rem/* 16px */;
  left: 1.5rem/* 24px */;
  transform-origin: 0;
  z-index: 10;
}
