.reset-pass-first-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem/* 40px */;
}

.reset-pass-first-title {
  width: 450px;
  display: flex;
  justify-content: center;
  padding-top: 2rem/* 32px */;
  padding-bottom: 2rem/* 32px */;
  font-weight: 700;
  font-size: 2.25rem/* 36px */;
  line-height: 2.5rem/* 40px */;
}

.reset-pass-second-container {
  width: 450px;
  border-width: 1px;
  border-color: rgb(102, 102, 102);
  padding-left: 2rem/* 32px */;
  padding-right: 2rem/* 32px */;
  padding-top: 2rem/* 32px */;
  padding-bottom: 2rem/* 32px */;
  border-radius: 0.5rem/* 8px */;
}

.reset-pass-second-title {
  margin-bottom: 1.5rem/* 24px */;
  font-size: 1.875rem/* 30px */;
  line-height: 2.25rem/* 36px */;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.reset-pass-form {
  display: flex;
  flex-direction: column;
  gap: 1rem/* 16px */;
}

.reset-pass-input {
  display: block;
  width: 100%;
  padding-left: 1.5rem/* 24px */;
  padding-right: 1.5rem/* 24px */;
  padding-top: 1.5rem/* 24px */;
  padding-bottom: 0.25rem/* 4px */;
  border-width: 1px;
  border-radius: 0.375rem/* 6px */;
  border-color: rgb(102 102 102);
}

.reset-pass-label {
  position: absolute;
  color: rgb(161 161 170);
  
}

.reset-pass-button {
  width: 100%;
  background-color: rgb(220 38 38);
  padding-top: 0.75rem/* 12px */;
  padding-bottom: 0.75rem/* 12px */;
  color: rgb(255 255 255);
  font-weight: 600;
  border-radius: 0.375rem/* 6px */;
  margin-top: 1.25rem/* 20px */;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.reset-pass-login-link {
  font-weight: 600;
  cursor: pointer;
}

.reset-pass-paragraph {
  margin-top: 1.5rem/* 24px */;
  margin-left: 0.25rem/* 4px */;
}

.reset-pass-disabled-button {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  pointer-events: none;
}
